@tailwind base;
@tailwind components;
@tailwind utilities;

.master-your-life-container1 {
  background-image: url("../../assets/MasterYourLifeBG.jpeg");
}

.meet-ahead-app-container1 {
  background-image: url("../../assets/meetTheAheadApp.jpeg");
}

.ever-wondered-container1 {
  background-color: #edf8fe;
}

.work-with-us-container1 {
  background-color: #f3f1ff;
}

.bg-image {
  background-size: cover;
  border-radius: 40px;
  min-height: 80vh;
}

.bg-container-home {
  height: 100vh;
}

.horizontal-line {
  border-top: 1px solid grey;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure visibility above other elements */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#work-scroll1,
#familiar-scroll1::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

#work-scroll1,
#familiar-scroll1::-webkit-scrollbar-track {
  background: transparent;
}

#work-scroll1,
#familiar-scroll1::-webkit-scrollbar-thumb {
  background: #4b27dc;
}

#familiar-scroll1::-webkit-scrollbar-thumb {
  margin-top: 5px;
  background-color: #9e9e9e;
}
