@tailwind base;
@tailwind components;
@tailwind utilities;

.master-your-life-container1 {
  background-image: url("../../assets/MasterYourLifeBG.jpeg");
}

.meet-ahead-app-container1 {
  background-image: url("../../assets/meetTheAheadApp.jpeg");
}

.ever-wondered-container1 {
  background-color: #edf8fe;
}

.bg-image {
  background-size: cover;
  border-radius: 40px;
  height: 80vh;
}

.horizontal-line {
  border-top: 1px solid grey;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure visibility above other elements */
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}