@tailwind base;
@tailwind components;
@tailwind utilities;

.master-your-life-container1 {
  background-image: url("../../assets/MasterYourLifeBG.jpeg");
}

.meet-ahead-app-container1 {
  background-image: url("../../assets/meetTheAheadApp.jpeg");
}

.ever-wondered-container1 {
  background-color: #EDF8FE;
}

.bg-image{
  background-size: cover;
  border-radius: 40px;
  height: 80vh;
}